* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  height: 100%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

media="all" *, *:after, *:before {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

.clearfix:after { 
  content: "."; 
  display: block; 
  height: 0; 
  clear: both; 
  visibility: hidden; 
}
.clearfix { 
  display: inline-block;  
}
* html .clearfix {  
  height: 1%;  
} /* Hides from IE-mac \*/
.clearfix {  
  display: block;  
}

body {
    height: 100%;
    background:#fff; /*** WORKAROUND AGAINST ITAU PROTECTION MODULE ***/
    font-size: 21px;
    margin: 0;
    padding: 0;
}

h1 {
  color:#fff;
  font-size: 60px;
  font-family: 'Lobster Two', cursive;
}

h3 {
  font-family: 'Lobster Two', cursive;
  font-weight: bold;
  font-size: 150%;
}

.container {
  margin: 0 auto;
  padding:0;
  width:100%;
  height: 100%;
  text-align:center;
  min-width:320px;
}

.wrapper {
  width: 100%;
  overflow-x:hidden;
}

#header {
   position: fixed;
    top: 0px;
    width: 100%;
    height: 95px;
    z-index: 9999;
    padding-top: 27px;
    min-width: 320px;
}

#sp_menu {
    margin-right:10px;
    color:#fff;
  }

#bot_menu {
  cursor: pointer;
  filter: brightness(0.7);
  -webkit-filter: brightness(0.7);
  -moz-filter: brightness(0.7);
  width: 2.5%;
  min-width: 50px;
}

#bot_menu:hover {
  filter: brightness(1.5);
  -webkit-filter: brightness(1.5);
  -moz-filter: brightness(1.5);
}

#content {
  width:100%;
  height:100% !important;
} 

.scrolldown {
  width: 100px;
  height: 100px;
  background: url(../images/img_scrollDown_white.png) center center;
  position: absolute;
  bottom: 10px;
  left: 47%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  background-size: 100%;
}

.topFixed {
    background-color: rgba(0,0,0,0.9);
}

#logo_top {
  display: none;
  vertical-align: top;
  margin-left: 8%;
}

#logo_top img {
  filter: brightness(0.9);
  -webkit-filter: brightness(0.9);
  -moz-filter: brightness(0.9);
  width:60px;
  height: auto;
  display: inline-block;
  margin-top: -29px;
  margin-right: -10px;
}

.rotate {
    behavior:url(-ms-transform.htc);
    /* Firefox */
    -moz-transform:rotate(-45deg);
    /* Safari and Chrome */
    -webkit-transform:rotate(-45deg);
    /* Opera */
    -o-transform:rotate(-45deg);
    /* IE9 */
    -ms-transform:rotate(-45deg);
    /* IE6,IE7 */
    filter: progid:DXImageTransform.Microsoft.Matrix(sizingMethod='auto expand', M11=0.7071067811865476, M12=-0.7071067811865475, M21=0.7071067811865475, M22=0.7071067811865476);
    /* IE8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(SizingMethod='auto expand', M11=0.7071067811865476, M12=-0.7071067811865475, M21=0.7071067811865475, M22=0.7071067811865476)"; 
}

#logo_top img:hover {
  filter: brightness(2);
  -webkit-filter: brightness(2);
  -moz-filter: brightness(2);
}

#nav {
  float: right;
  display: inline-block;
  vertical-align: top;
  margin-top: -4px;
  margin-right: 22px;
}

#pg2, #pg3, #pg4, #pg5 {
  float: left;
  clear: both;
}

#pg2 h1, #pg3 h1, #pg4 h1, #pg5 h1 {
  font-size: 410%;
  padding: 30px 0px;
}

#logo_top h2, #pg2 h2, #pg3 h2, #pg4 h2, #pg5 h2 {
  color:#111;
  font-size: 160%;
  display: inline-block;
  font-family: 'Lobster Two', cursive;
  margin-top: -20px;
}

#logo_top h2 {
  color:#fff !important;
}

#pg2 h2 {
  margin-top: 9px;
}

#pg2 h2, #pg3 h2 {
  color:#fff;
}

.title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  font-family: 'Lobster Two', cursive;
  border:1px #444 solid;
  border-left:0px;
  border-right:0px;
}

.sepia {
  color:#745d3b;
}

.fadeOut{
  -webkit-animation-delay: 0.2s;
  -moz-animation-delay: 0.2s;
  -ms-animation-delay: 0.2s;
 }

/*********** PAGE 1 **************/

#pg1 {
  background: url(../images/img_paulistaRuido_opacity.jpg) center center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  background-size:cover;
}

#logo_index {
  border:0px;
  padding:0;
  min-width:79%;
}

#logo_index img {
  filter: brightness(0.9);
  -webkit-filter: brightness(0.9);
  -moz-filter: brightness(0.9);
}

#logo_index img:hover {
  filter: brightness(2);
  -webkit-filter: brightness(2);
  -moz-filter: brightness(2);
}


/*********** PAGE 2 **************/

#pg2 {
  background: url(../images/img_youMatter_opacity.jpg) center center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  background-size:cover;
  box-sizing: content-box;
  padding-top: 6%;
}

#pg2 .title {
  top: 150%;
  width:auto;
}

#content_pg2 {
  color:#fff !important;
  float:right;
  text-align: left;
  width:55%;
  min-width: 415px;
  margin-top: 60px;
}

#content_pg2 h1 {
  border-bottom: 1px #735d39 solid;
  padding:0;
  padding-right: 25%;
  font-size:310%;
}

#content_pg2 p {
  padding-right: 25%;
  padding-bottom:20px;
}

/*********** PAGE 3 **************/

#pg3 {
  background: url(../images/img_experienceBeautiful.svg) center center;
  background-repeat: no-repeat;
  height: 100%;
  background-size:cover;
  box-sizing: content-box;
  padding-top: 6%;
  margin-left:-1px !important; /* Hack for SVG missdraw */
  display: inline-table;
}

#pg3 .title {
  top: 259.7%;
  width:auto;
}

#pg3 h1 {
  color:#111 !important;
  max-width: 380px;
  padding: 0px 0px !important;
  margin: 0 0 20px 0;
}

#content_pg3 {
  float:right;
  text-align: left;
  width:55%;
  min-width: 415px;
  margin-top: 3%;
}

#content_pg3 h1 {
  color:#745d3b !important;
  border-bottom: 1px #735d39 solid;
  padding:0 5px 5px 0!important;
  font-size:310% !important;
  margin:0 !important;
  max-width: inherit;
}

#content_pg3 p {
  padding-right: 25%;
  padding-bottom:20px;
}

.ln_box {
  max-width: 220px;
}

.ln_box img {
    width: 100%;
    max-width: 160px;
    cursor:pointer;
}

.inner {
  -moz-box-shadow:    -1px 1px 6px 0px rgba(0,0,0,0.7);
  -webkit-box-shadow: -1px 1px 6px 0px rgba(0,0,0,0.7);
  box-shadow:     -1px 1px 6px 0px rgba(0,0,0,0.7); 
  background-color:#22211D;
  margin: 0px 0px 10px;
  padding: 9px;
  max-width:180px;
}

.seeMore {
  text-align: right;
  font-size: 110%;
  font-family:"neuzeitGrotBold", arial;
  min-width:137px;
}

.seeMore a {
  color:#000;
}

#img_prototipo_home {
    float: left;
    margin-left: -100%;
    max-width: 100%;
    margin-top: 12%;
}

/*********** PAGE 4 **************/

#pg4 {
  background: url(../images/img_clients.jpg) center center;
  background-repeat: no-repeat;
  width: 100%;
  height: 106%;
  background-size:cover;
  box-sizing: content-box;
  padding-top: 6%;
}

#pg4 .title {
  top: 364%;
  width:auto;
  min-width: 525px;
}

#content_pg4 {
  color:#fff !important;
  width:100%;
  min-width: 415px;
  margin-top: 60px;
}

#content_pg4 h1 {
  border-bottom: 1px #735d39 solid;
  padding:0;
  font-size:310%;
  width: 60%;
  margin: 0 auto;
  padding-top: 30px;
}

#content_pg4 p {
  padding-right: 25%;
  padding-bottom:20px;
}

#pg4 .ln_box {
  margin: 3% 0%;
  max-width: 100%;
}

#pg4 .ln_box img {
  max-width:100px;
}
#pg4 .inner {
  max-width: 100%; 
  margin: 0;
  background-color: transparent;
}

#pg4 .row { 
  margin: 0 4%;
}

#pg4 .seeMore {
    text-align: center;
    font-size: 140%;
}

#pg4 .seeMore a {
    color: #fff;
}

/*********** PAGE 5 **************/

#pg5 {
  background: url(../images/img_sayHello.jpg) center center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  background-size:cover;
  box-sizing: content-box;
  padding-top: 6%;
  margin-top: -6px;
}

#pg5 .title {
  top: 485%;
  width:auto;
}

#content_pg5 {
  color:#fff !important;
  width:100%;
  min-width: 415px;
  margin-top: 60px;
}

#content_pg5 h1 {
  border-bottom: 1px #735d39 solid;
  padding:0;
  font-size:310%;
  width: 60%;
  margin: 0 auto;
  padding-top: 130px;
  text-align: center;
}

#content_pg5 p {
  padding-right: 25%;
  padding-bottom:20px;
}


/********** MENU ***********/

@font-face {
  font-family: 'neuzeitGrot';
  src: url('/fonts/NeuzeitGroteskBoldCond.ttf');
  font-style: normal;
}

@font-face {
  font-family: 'neuzeitGrotBold';
  src: url('/fonts/neuzeitGrot.ttf');
  font-style: normal;
}

#menu {
  display:none;
  position:fixed;
  top:0;
  left:0;
  background: #000;
  zoom: 1;                    /* for it to work on IE */
  filter: alpha(opacity=95);  /* for it to work on IE */
  opacity: 0.95;
  width:100%;
  height:100%;
  z-index: 9998;
}

#menu ul {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  min-width: 320px;
}

#menu ul li {
  
}

#menu label {
  width:200px;
  font-family: "neuzeitGrot", arial;
  text-transform: uppercase;
  padding:20px 0 15px;
  border-bottom:1px #202020 dashed;
}

#menu label:last-child {
  border-bottom:0;
}

#menu a {
  color:#fff;
  font-size: 30px;
}

#menu a:hover {
  text-decoration: none;
  color:#745d3b;
}

.arrow {

}


.neuzeitGrot {
   font-family: "neuzeitGrot", arial;
}

/********* MEDIA QUERIES **********/

@media screen and (min-width:1281px) {
  #img_prototipo_home {
    margin-top: 6%;
  }
}

@media screen and (max-width:1280px) and (min-width:1025px){
  #pg4 .title {
    top: 360%;
  }

  #content_pg3 {
    margin-top: 7%;
    width: 58%;
  }

  .ln_box {
    max-width: 200px;
  }

  #content_pg4 {
    margin-top: 8%;
  }
}

@media screen and (max-width:1024px) and (min-width:801px){
  #pg4 .title {
    top: 360%;
  }

  #content_pg3 {
    margin-top: 14%;
    width: 58%;
  }

  #content_pg4 {
    margin-top: 11%;
  }
}


@media screen and (max-width:800px) and (min-width:641px){
  #pg4 .title {
    top: 360%;
  }

  #content_pg3 {
    margin-top: 14%;
    width: 65%;
  }

  #content_pg4 {
    margin-top: 16%;
  }

  #content_pg4 h1 {
    width: 65%;
  }

  #pg3 .col-xs-12 {
    width: 30% !important;
  }
}


@media screen and (max-width:640px){
  #header {
    height: 65px;
    padding-top: 20px;
  }

  #logo_index img {
    width: 25%;
  }

  #logo_top {
    padding-top: 10px;
    margin-left: 20%;
  }

  #logo_top img {
    width: 35px;
  }

  #nav {
    margin-right: 7px;
  }

  #bot_menu {
    min-width: 35px;
  }

  #logo_top h2 {
    font-size: 100%;
  }

  #sp_menu {
    margin-right: 5px;
    font-size: 75%;
  }

  #pg4 .title {
    min-width: 300px;
    top: 354%;
  }

  h1, #content_pg3 h1 {
    font-size:250% !important;
  }

  #content_pg3 {
    margin-top: 30%;
    min-width: 350px;
    width: 75%;
  }

  #content_pg4 {
    margin-top: 22%;
  }

  #content_pg4 h1 {
    width: 80%;
  }

  #pg3 .col-xs-12 {
    width: 30% !important;
    padding-left: 0px;
  }

  .seeMore {
    font-size: 100%;
    min-width: 125px;
  }
}

@media screen and (max-width:475px){
  body {
    overflow-x:hidden;
  }

  #header {
    height: 65px;
    padding-top: 20px;
  }

  #logo_index img {
    width: 25%;
  }

  #logo_top {
    padding-top: 10px;
    margin-left: 9px;
  }

  #logo_top img {
    width: 35px;
  }

  #nav {
    margin-right: 20px;
  }

  #bot_menu {
    min-width: 35px;
  }

  #logo_top h2 {
    font-size: 100%;
  }

  #sp_menu {
    margin-right: 5px;
    font-size: 75%;
  }

  #pg2 h2, #pg3 h2, #pg4 h2, #pg5 h2 {
    font-size: 100%;
  }

  #content_pg2 {
    margin-top: 90px;
    min-width: 295px;
  }

  #content_pg2 p, #content_pg3 p {
    padding-right: 15%;
    font-size: 70%;
  }

  #pg3 h1 {
    margin: 10px 0 20px 0;
  }

  #content_pg3 {
    min-width: 295px;
    margin-top: 49%;
  }

  .ln_box {
    margin: auto 16%;
  }

  #content_pg4 {
    margin-top: 120px;
    width: 95%;
    min-width: 100px;
  }

  #content_pg4 h1 {
    width: 80%;
  }

  #pg4 .title {
    min-width: 300px;
    top: 402%;
  }

  #content_pg5 {
    min-width: 315px;
  }

  #pg5 h1 {
    min-width: 250px;
  }

  #pg5 .title {
    top: 520%;
  }

  #logo_index h1 {
    font-size: 140% !important;
  }

  #logo_index .sepia {
    margin-left: 0px;
  }

  .scrolldown {
    width: 82px;
    left: 38%;
  }

  .seeMore {
    font-size: 130%;
    min-width: 125px;
    text-align: center;
    margin-right:25px;
  }

  #pg4 .seeMore {
    margin-right: -4px;
  }

  #pg3 .col-xs-12, .col-xs-12 {
    width: 100% !important;
  }

  #img_prototipo_home {
    display:none;
  }
}

.shadowStandard {
  -webkit-filter: drop-shadow(5px 5px 5px #222);
  filter:         drop-shadow(5px 5px 5px #222); 
}

/**** EXTRA ANIMATIONS ****/

.blink {
  animation: blink 5s steps(5, start) infinite;
  -webkit-animation: blink 5s steps(5, start) infinite;
}
@keyframes blink {
  to {
     visibility: hidden;
     }
}
@-webkit-keyframes blink {
  to {
     visibility: hidden;
     }
}

.brightness {
  -webkit-animation: brightness 4s infinite;
  -moz-animation: brightness 4s infinite;
  -o-animation: brightness 4s infinite;
  animation: brightness 4s infinite;
}

@-webkit-keyframes brightness {
  0%, 100%  { -webkit-filter: brightness(none); }
  50% { -webkit-filter: brightness(1.5); }
}

.animate-flicker {
   -webkit-animation: flickerAnimation 4s infinite;
   -moz-animation: flickerAnimation 4s infinite;
   -o-animation: flickerAnimation 4s infinite;
    animation: flickerAnimation 4s infinite;
}
@keyframes flickerAnimation {
  0%   { opacity:0; }
  50%  { opacity:1; }
  100% { opacity:0; }
}
@-o-keyframes flickerAnimation{
  0%   { opacity:0; }
  50%  { opacity:1; }
  100% { opacity:0; }
}
@-moz-keyframes flickerAnimation{
  0%   { opacity:0; }
  50%  { opacity:1; }
  100% { opacity:0; }
}
@-webkit-keyframes flickerAnimation{
  0%   { opacity:0; }
  50%  { opacity:1; }
  100% { opacity:0; }
}



/**** CARROSSEL ****/

.slick-slide {
  height:auto !important;
}



.slick-prev, .slick-next {
  width:50px !important;
  height:50px !important;
} 

.slick-prev:before, .slick-next:before {
  font-size:40px !important;
}