* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  height: 100%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

media="all" *, *:after, *:before {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

.clearfix:after { 
  content: "."; 
  display: block; 
  height: 0; 
  clear: both; 
  visibility: hidden; 
}
.clearfix { 
  display: inline-block;  
}
* html .clearfix {  
  height: 1%;  
} /* Hides from IE-mac \*/
.clearfix {  
  display: block;  
}

body {
    height: 100%;
    background:#333; /*** WORKAROUND AGAINST ITAU PROTECTION MODULE ***/
    font-size: 21px;
}

h1 {
  color:#fff;
  font-size: 60px;
}

.container {
  margin: 0 auto;
  padding:0;
  width:100%;
  height: 100%;
  text-align:center;
  min-width:320px;
}

#header {
  position: fixed;
  text-align: right;
  width: 100%;
  top: 15px;
  right: 26px;
  z-index:9999;
}

#sp_menu {
    margin-right:10px;
    color:#fff;
  }

#bot_menu {
  cursor: pointer;
  filter: brightness(0.7);
  -webkit-filter: brightness(0.7);
  -moz-filter: brightness(0.7);
  width: 2.5%;
  min-width: 50px;
}

#bot_menu:hover {
  filter: brightness(1.5);
  -webkit-filter: brightness(1.5);
  -moz-filter: brightness(1.5);
}

#content {
  width:100%;
  height:100% !important;
} 

.scrolldown {
  width: 100px;
  height: 100px;
  background: url(../images/img_scrollDown_white.png) center center;
  position: absolute;
  bottom: 10px;
  left: 47%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  background-size: 100%;
}

/*********** PAGE 1 **************/

#pg1 {
  background: url(../images/img_paulistaRuido_opacity.jpg) center center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  background-size:cover;
}

#logo_index {
  border:0px;
  padding:0;
  min-width:79%;
}

#logo_index img {
  filter: brightness(0.9);
  -webkit-filter: brightness(0.9);
  -moz-filter: brightness(0.9);
}

#logo_index img:hover {
  filter: brightness(2);
  -webkit-filter: brightness(2);
  -moz-filter: brightness(2);
}


/*********** PAGE 2 **************/

#pg2 {
  background: url(../images/img_youMatter_opacity.jpg) center center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  background-size:cover;
  box-sizing: content-box;
  padding-top: 6%;
}

#pg2 .title {
  top: 150%;
  width:auto;
}

/*********** PAGE 3 **************/

#pg3 {
  background: url(../images/img_experienceBeautiful.jpg) center center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  background-size:cover;
  box-sizing: content-box;
  padding-top: 6%;
}

#pg3 .title {
  top: 259.7%;
  width:auto;
}

#pg3 h1 {
  color:#111 !important;
  max-width: 380px;
  padding: 0px 0px !important;
  margin: 0 0 20px 0;
}

/*********** PAGE 4 **************/

#pg4 {
  background: url(../images/img_clients.jpg) center center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  background-size:cover;
  box-sizing: content-box;
  padding-top: 6%;
}

#pg4 .title {
  top: 375%;
  width:auto;
  min-width: 525px;
}

/*********** PAGE 5 **************/

#pg5 {
  background: url(../images/img_sayHello.jpg) center center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  background-size:cover;
  box-sizing: content-box;
  padding-top: 6%;
  margin-top: -6px;
}

#pg5 .title {
  top: 485%;
  width:auto;
}


#logo_top img {
  filter: brightness(0.9);
  -webkit-filter: brightness(0.9);
  -moz-filter: brightness(0.9);
  width:60px;
  height: auto;
  display: inline-block;
  margin-top: -29px;
  margin-right: -10px;
}

.rotate {
    behavior:url(-ms-transform.htc);
    /* Firefox */
    -moz-transform:rotate(-45deg);
    /* Safari and Chrome */
    -webkit-transform:rotate(-45deg);
    /* Opera */
    -o-transform:rotate(-45deg);
    /* IE9 */
    -ms-transform:rotate(-45deg);
    /* IE6,IE7 */
    filter: progid:DXImageTransform.Microsoft.Matrix(sizingMethod='auto expand', M11=0.7071067811865476, M12=-0.7071067811865475, M21=0.7071067811865475, M22=0.7071067811865476);
    /* IE8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(SizingMethod='auto expand', M11=0.7071067811865476, M12=-0.7071067811865475, M21=0.7071067811865475, M22=0.7071067811865476)"; 
}

#logo_top img:hover {
  filter: brightness(2);
  -webkit-filter: brightness(2);
  -moz-filter: brightness(2);
}

#pg2 h1, #pg3 h1, #pg4 h1, #pg5 h1 {
  font-size: 410%;
  padding: 30px 0px;
}

#pg2 h2, #pg3 h2, #pg4 h2, #pg5 h2 {
  color:#111;
  font-size: 160%;
  display: inline-block;
  font-family: 'Lobster Two', cursive;
  margin-top: -20px;
}

#pg2 h2 {
  margin-top: 9px;
}

#pg2 h2, #pg3 h2 {
  color:#fff;
}

#pg4 #logo_top img, #pg5 #logo_top img {
  filter: brightness(0);
  -webkit-filter: brightness(0);
  -moz-filter: brightness(0);
}


#logo_top {
  margin-top: -4%;
}

.title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  font-family: 'Lobster Two', cursive;
  border:1px #444 solid;
  border-left:0px;
  border-right:0px;
}
.sepia {
  color:#745d3b;
}


/********** MENU ***********/

@font-face {
  font-family: 'neuzeitGrot';
  src: url('/fonts/NeuzeitGroteskBoldCond.ttf');
  font-style: normal;
}

#menu {
  display:none;
  position:fixed;
  top:0;
  left:0;
  background: #000;
  zoom: 1;                    /* for it to work on IE */
  filter: alpha(opacity=95);  /* for it to work on IE */
  opacity: 0.95;
  width:100%;
  height:100%;
  z-index: 9998;
}

#menu ul {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  min-width: 320px;
}

#menu ul li {
  
}

#menu label {
  width:200px;
  font-family: "neuzeitGrot", arial;
  text-transform: uppercase;
  padding:20px 0 15px;
  border-bottom:1px #202020 dashed;
}

#menu label:last-child {
  border-bottom:0;
}

#menu a {
  color:#fff;
  font-size: 30px;
}

#menu a:hover {
  text-decoration: none;
  color:#745d3b;
}

.arrow {

}


/********* MEDIA QUERIES **********/

@media screen and (max-width:1280px) and (min-width:1025px){
  #pg4 .title {
    top: 370%;
  }
}

@media screen and (max-width:1024px) and (min-width:801px){
  #pg4 .title {
    top: 365%;
  }
}


@media screen and (max-width:800px) and (min-width:641px){
  #pg4 .title {
    top: 360%;
  }
}

@media screen and (max-width:640px){
  #pg4 .title {
    min-width: 300px;
    top: 354%;
  }

  h1 {
    font-size:250% !important;
  }

}

@media screen and (max-width:475px){
  #logo_index img {
    width: 25%;
  }

  #logo_top {
    text-align: left;
    margin-left: 20px;
  }

  #logo_top img {
    width: 35px;
    margin-right: 0px;
  }

  #pg2 h2, #pg3 h2, #pg4 h2, #pg5 h2 {
    font-size: 100%;
  }

  #pg2 h1, #pg3 h1, #pg4 h1, #pg5 h1 {
    padding: 0px;
    margin: 10px 0;
  }

  #pg3 h1 {
    margin: 10px 0 20px 0;
  }

  #header img {
    min-width: 45px;
  }

  .sepia {
    margin-left: 19px;
  }

  #logo_index h1 {
    font-size: 140% !important;
  }

  #logo_index .sepia {
    margin-left: 0px;
  }

  #pg5 h1 {
    min-width: 220px;
  }

  .scrolldown {
    width: 82px;
    left: 38%;
  }
}

.shadowStandard {
  -webkit-filter: drop-shadow(5px 5px 5px #222);
  filter:         drop-shadow(5px 5px 5px #222); 
}

/**** EXTRA ANIMATIONS ****/

.blink {
  animation: blink 5s steps(5, start) infinite;
  -webkit-animation: blink 5s steps(5, start) infinite;
}
@keyframes blink {
  to {
     visibility: hidden;
     }
}
@-webkit-keyframes blink {
  to {
     visibility: hidden;
     }
}

.brightness {
  -webkit-animation: brightness 4s infinite;
  -moz-animation: brightness 4s infinite;
  -o-animation: brightness 4s infinite;
  animation: brightness 4s infinite;
}

@-webkit-keyframes brightness {
  0%, 100%  { -webkit-filter: brightness(none); }
  50% { -webkit-filter: brightness(1.5); }
}

.animate-flicker {
   -webkit-animation: flickerAnimation 4s infinite;
   -moz-animation: flickerAnimation 4s infinite;
   -o-animation: flickerAnimation 4s infinite;
    animation: flickerAnimation 4s infinite;
}
@keyframes flickerAnimation {
  0%   { opacity:0; }
  50%  { opacity:1; }
  100% { opacity:0; }
}
@-o-keyframes flickerAnimation{
  0%   { opacity:0; }
  50%  { opacity:1; }
  100% { opacity:0; }
}
@-moz-keyframes flickerAnimation{
  0%   { opacity:0; }
  50%  { opacity:1; }
  100% { opacity:0; }
}
@-webkit-keyframes flickerAnimation{
  0%   { opacity:0; }
  50%  { opacity:1; }
  100% { opacity:0; }
}
