.clearfix:after { 
  content: "."; 
  display: block; 
  height: 0; 
  clear: both; 
  visibility: hidden; 
}
.clearfix { 
  display: inline-block;  
}
* html .clearfix {  
  height: 1%;  
} /* Hides from IE-mac \*/
.clearfix {  
  display: block;  
}

.glyphicon {
	color:#f00;
}

ul {
	list-style-type: none;
	margin:0;
	padding:0;
}

a {
	text-decoration:none;
	color:#1690cc;
}

a:hover {
	filter: brightness(1.5);
	-webkit-filter: brightness(1.5);
	-moz-filter: brightness(1.5);
}

body {
	font-family:'HelveticaCSS',Helvetica, Arial, sans-serif;
	font-size:13px;
	overflow-x:hidden;
	background:#383631; /*** WORKAROUND AGAINST ITAU DAMMIT PROTECTION MODULE ***/
}

@font-face{
font-family:"HelveticaCSS";
src:url(); /* Colocar o caminho do diretorio no server - mas conferir questão de direitos */
}

#container {
	width:100%;
	text-align:center;
	min-width:320px;
	background:#fff; /*** WORKAROUND AGAINST ITAU DAMMIT PROTECTION MODULE ***/
}

header {
	background-color:#ccc;
	height:38px;
}

header h1 {
	background:url(../images/logo.jpg) no-repeat center center;
	height:38px;
	font-size:0;
	color:ccc;
	margin-top:0;
}

#banner {
	padding-top:40px;
	background:url(../images/img_banner_principal.jpg) no-repeat center center;
	max-height:578px;
	width:100%;
	background-size:cover;

}

#dv_tag {
  	position: relative;	
  	z-index: 9999;
  	margin-right: 815px;
  	margin-bottom: -97px;
}
/*
#dv_tag img {
	max-width:100%;
	height:auto;
}
*/
#banner p.contador {
	z-index: 9000;
  	position: relative;
	font-family: HelveticaCSS, Helvetica, Arial Black, Arial;
	color:#d3d3d3;
	font-size:187px;
	font-weight:bold;
	font-stretch:condensed;
	opacity:0.5;
    filter:alpha(opacity=50); /* Para IE8 e mais antigos */
}

#banner p.slogan {
	font-family: HelveticaCSS, Helvetica, Arial Black, Arial;
	color:#d3d3d3;
    font-size: 29px;
  	margin-top: -54px; /* compensa o padding necessário por usar cover no background */
	font-weight:bold;
}

#banner p.cadastrese {
	padding-top:40px;
	color:#fff;
	font-size:32px;
	font-family: 'Open Sans', Arial;
	font-weight:600;
	text-shadow: 1px 1px 8px rgba(0, 0, 0, 1);
}

#frm_cadastrese {
	position: relative;
	width: 100%;
	margin-top:30px;
	margin-bottom: 50px;
}

#wrapper_bots {
	position: relative;
	max-width: 970px;
	margin: 0 auto;
	-moz-box-shadow:    0px 0px 0px 13px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0px 0px 0px 13px rgba(0,0,0,0.5);
    box-shadow: 		0px 0px 0px 13px rgba(0,0,0,0.5); 
	-webkit-background-clip: padding-box; /* for Safari */
    background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */
}

#cp_txt_cadastrese, .bot_cadastrese {
	position:relative;
	height:52px;
	border-radius: 4px;
	font-family: 'Open Sans', Arial;
	font-size:20px;
	display: inline-block;
	zoom: 1; /* for old ie */
	vertical-align: top;
}

#cp_txt_cadastrese {
	width:802px;
	border: 1px #676767 solid;
	color: #323232;
	padding-left:8px;
	font-size: 24px;

}

.bot_cadastrese {
	background: #0884c1;
	width:170px;
	font-size:26px;
	margin-left: -6px;
	border-radius: 0px 2px 2px 0px;
	box-shadow: inset 0 -1px 1px rgba(0,0,0,0.5); /*bottom internal shadow*/
}

/*** MIOLO ***/

#dv_banners {
	position:relative;
	margin: 60px auto 50px;
	font-family: 'Open Sans', Arial;
	width:80%;
}

#dv_banners .ln_box {
	
}

#dv_banners h4 {
  	font-weight: bold;
  	margin-bottom: 0px;
}

#dv_banners p {
  padding: 0 20px;
}

#dv_banners ul li:first-child {
	background-color: #363534;
	color:#fff;
	border-radius: 4px 4px 0px 0px;
}

.inner {
	-moz-box-shadow:    -1px 1px 6px 0px rgba(0,0,0,0.4);
	-webkit-box-shadow: -1px 1px 6px 0px rgba(0,0,0,0.4);
    box-shadow: 		-1px 1px 6px 0px rgba(0,0,0,0.4); 
	border-radius: 4px;
	background-color:#e7e7e7;
	margin: 0px 0px 30px;
}


.seta_banner {
  padding: 0 !important;
  background-color:#e7e7e7;
  width: 100% !important;
}

#dv_banners li.seta_banner img {
	vertical-align: top !important;
}

#dv_banners h3 {
	font-weight:300;
	font-size:240%;
	padding:0;
	margin:5px auto;
	width:80%;
}

#dv_banners ul li {
	font-size:12px;
	padding:5px 2px;
	width:auto;
}


#dv_banners span {
	  font-size: 90px;
	  padding: 20px 0px;
	  color:#a11c21;
}


#dv_apoio {
    clear: left;
	background: #f4f3f3;
	padding:1.5vw 0;
}

#dv_apoio label {
	display:inline-block;
    vertical-align: middle;
	margin-right: 20px;
	font-family: 'Open Sans', Arial;
	font-size:26px;
	font-weight:300;
}

#dv_apoio ul {
	display:inline-block;
}


#dv_participantes_container {
	clear:left;
	background:#d6d6d6;
	font-family: 'Open Sans', Arial;
	font-weight:300;
	padding: 45px 25px 75px;
}
#dv_participantes_container p {
	font-size:36px;
}

#dv_participantes_roleta {
	clear:left;
	margin: 30px 60px;
}

#dv_publicidade {
	position:relative;
	clear:left;
	padding: 35px 0px 0px;
	width: 730px;
	margin: 0 auto;
}

#dv_publicidade label {
	display:table;
}



#footer {
	background:#383631;
	clear:left;
	color:#fff;
	font-family: 'Open Sans', Arial;
	min-height:58px;
	padding: 0px 0px 0px 50px;
}

#footer ul {
	display:inline-block;
}

#footer ul li {
	display:inline-block;
}

#lst_allrights, #links_footer {
	padding: 20px 0px 0px 0px;
  	float: left;
}

#links_footer a {
	display: inline-block;
	margin-left: 6px;
}

#links_footer a:first-child {
	border-right: 1px #1690cc solid; 
	padding: 0px 10px 0px 5px;
}

#lst_allrights li:first-child {
	border-right:0;
	padding:0; 
}

#lst_allrights li:last-child {
	border-right:0;
}

#lst_social {
	padding: 13px 0px 7px !important;
	margin: 0px 20px 0px 0px !important;
	min-width:150px;
	float: right;
}

#lst_social li {
	margin-left:10px;
}

#lst_social li:nth-child(2){
  margin-left: 8px;
}

#icon_twitter, #icon_gplus, #icon_fb {
	cursor:hand;
	cursor:pointer;
}


/**** CARROSSEL ****/

.slick-slide {
	height:auto !important;
}

.slick-prev {
	left:-70px !important;
}

.slick-next  {
	right: -55px !important;
}

.slick-prev, .slick-next {
	width:50px !important;
	height:50px !important;
} 

.slick-prev:before, .slick-next:before {
	font-size:40px !important;
}

@media screen and (max-width:1090px) and (min-width:925px){
	#banner p.contador {
		font-size:160px;
	}

	#dv_tag {
		margin-right: 705px;
  		margin-bottom: -83px;
	}

	#dv_tag img {
		width:160px;
		height:auto;
	}

	#wrapper_bots {
  		max-width: 830px;
  	}

	#cp_txt_cadastrese {
  		width: 660px;
  	}

}

@media screen and (max-width:924px) and (min-width:590px){
	#banner p.contador {
		font-size:100px;
	}

	#dv_tag {
		margin-right: 445px;
		margin-bottom: -55px;
	}

	#dv_tag img {
		width:100px;
		height:auto;
	}

	#banner p.slogan {
		font-size: 18px;
  		margin-top: -33px;
	}

	#banner p.cadastrese {
  		font-size: 24px;
  	}

  	#frm_cadastrese {
		margin-top:20px;
	}

	#wrapper_bots {
  		max-width: 510px;
  		box-shadow: 0px 0px 0px 8px rgba(0,0,0,0.5);
  	}

	#cp_txt_cadastrese, .bot_cadastrese {
		font-size: 16px;
		height: 37px;
	}

	.bot_cadastrese {
  		width: 110px;
  	}

	#cp_txt_cadastrese {
  		width: 400px;
  	}

	#lst_allrights, #links_footer , #lst_social {
		clear:left;
		float:none;
	}

	#dv_publicidade {
		display:none;
	}

	#footer {
		padding: 0px 10% 0px 5%;
	}
}

@media screen and (max-width:589px){
	#banner {
  		padding: 25px 29px 0 10px;
  	}

	#banner p.contador {
		font-size:48px;
	}

	#dv_tag {
		margin-right: 0px;
		margin-bottom: -25px;
	}

	#dv_tag img {
		width:80px;
		height:auto;
	}

	#banner p.slogan {
		font-size: 14px;
  		margin-top: -23px;
	}

	#banner p.cadastrese {
  		font-size: 19px;
  		padding-top:10px;
  	}

  	#frm_cadastrese {
		margin-top:20px;
		margin-bottom: 80px;
	}

	#wrapper_bots {
  		max-width: 230px;
  		box-shadow: 0px 0px 0px 8px rgba(0,0,0,0.5);
  		height: 36px;
  	}

	#cp_txt_cadastrese, .bot_cadastrese {
		font-size: 16px;
		height: 37px;
	}

	.bot_cadastrese {
  		width: 242px;
  		margin-top: 15px;
  	}

	#cp_txt_cadastrese {
  		width: 230px;
  	}

  	#dv_banners {
  		margin: 20px auto 0px;
  	}

  	#dv_banners h3 {
  		font-size: 140%;
  	}

  	#dv_banners span {
  		padding: 5px;
  	}

  	#dv_banners h4 {
  		font-size: 14px;
  	}

	#lst_allrights, #links_footer , #lst_social {
		clear:left;
		float:none;
	}

	#dv_publicidade {
		display:none;
	}

	#dv_participantes_container {
		padding: 25px 25px 1px;
	}

	#dv_participantes_container p {
 	 	font-size: 18px;
	}

	.slick-slide img {
		display:inline !important;
	}

	#footer {
		padding: 0px 10% 0px 5%;
	}

}