<!DOCTYPE html>

<html>

<head>
<title> Eventex </title>
<script src="{{STATIC_URL}}js/jquery.min.js"></script>

<link href="{{STATIC_URL}}css/estilos.css" rel="stylesheet" type="text/css">
</head>

<body>

	<header>

	</header>

	<div id="container">

		<div id="content">

			<h1>Bem vindo a Eventex</h1>

			<p>
				O evento mais sensacional do ano depois do Dev in Rio!
			</p>

		</div> <!-- /content -->

	</div> <!-- /contaiuner -->


	<footer>

	</footer>

<script>

</script>

</body>

</html>
